<div class="wrapper">
        <input id="typeahead" 
                [(ngModel)]="asyncSelected"
                [typeahead]="dataSource"
                (typeaheadLoading)="changeTypeaheadLoading($event)"
                (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                (typeaheadOnSelect)="typeaheadOnSelect($event)"
                typeaheadOptionsLimit="10"
                typeaheadWaitMs="250"
                typeaheadOptionField="name"
                typeaheadGroupField="country"
                placeholder="Select a city"
                class="form-control">
        <i class="fa fa-spinner fa-pulse" 
           aria-hidden="true"
           *ngIf="typeaheadLoading"></i>
</div>
<div id="typeaheadNoResults" 
     *ngIf="typeaheadNoResults">
        <i class="fa fa-times" aria-hidden="true"></i> No Results Found
</div>