<div class="weatherWidget"
      *ngIf="city">
  <div class="city">{{ city?.name }}, {{ city?.country }}</div>
  <div class="day">{{ dailyForecast?.day }}</div>
  <div class="description">{{ dailyForecast?.description }}</div>
  <div class="info">
    <div class="main">
      <i class="fa fa-3x"
         [ngClass]="dailyForecast?.icon"></i>
      <div class="temperature">
        <span *ngIf="dailyForecast?.isToday()">{{ dailyForecast?.temperature }}</span>
        <span *ngIf="!dailyForecast?.isToday()">{{ dailyForecast?.avgTemperature }}</span>
      </div>
      <span class="celsius">°C</span>
    </div>
    <div class="details">
      <div>Max Temperature: {{ dailyForecast?.maxTemperature }}°C</div>
      <div>Min Temperature: {{ dailyForecast?.minTemperature }}°C</div>
      <div *ngIf="dailyForecast?.isToday()">
        <div *ngIf="dailyForecast?.rain">Rain: {{ dailyForecast?.rain | number }} mm</div>
        <div *ngIf="dailyForecast?.snow">Snow: {{ dailyForecast?.snow | number }} mm</div>
        <div>Humidity: {{ dailyForecast?.humidity }}%</div>
        <div>Wind: {{ dailyForecast?.wind | number }} mph</div>
      </div>
      <div *ngIf="!dailyForecast?.isToday()">
        <div *ngIf="dailyForecast?.rain">Rain: {{ dailyForecast?.totalRain | number }} mm</div>
        <div *ngIf="dailyForecast?.snow">Snow: {{ dailyForecast?.totalSnow | number }} mm</div>
        <div>Humidity: {{ dailyForecast?.avgHumidity }}%</div>
        <div>Wind: {{ dailyForecast?.avgWind | number }} mph</div>
      </div>
    </div>
  </div>
  <div class="forecast">
    <wf-daily-weather-widget *ngFor="let forecast of dailyForecasts"
                              [forecast]="forecast"
                              [ngClass]="{ 'selected': dailyForecast === forecast }"
                              (click)="selectForecast(forecast)"></wf-daily-weather-widget>
  </div>
</div>
